  <footer class="container-fluid justify-content-center bottom-container">
   <div class="container justify-content-center ">
     <ul class="list-inline">
      <li class="list-inline-item" >
        <a class="footer-link" href="https://www.linkedin.com/in/csoriano95/" target="_blank">LinkedIn</a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.freepik.com/vectors/flat" target="_blank">Flat vector created by felicities</a>
      </li>
    </ul>
   </div>
    <p class="copyright">© 2022 Chris Soriano.</p>
  </footer>

    <!--  Bootstrap  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>
